@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}
